/* Root container for full height layout */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Global styles */

/* Main layout and content */
main {
  padding: 5rem 10rem;
}

main h1 {
  text-align: center;
}

.main-content {
    gap: 15px;
}

/* Form layout styling */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  main {
    padding: 2rem 1rem;
  }

  form {
    gap: 1rem;
  }
}