.centered-link {
  display: block;
  text-align: center;
  font-size: var(--nys-font-size-3xl);
  margin-top: 30px;
}


/* Responsive: smaller image on mobile */
@media screen and (max-width: 768px) {
  .main-content img {
    width: 90%;
  }

  .centered-link {
    font-size: var(--nys-font-size-2xl);
  }
}