/** 
 * Because at the time of writing this, the NYSDS does not support flex-gaps & other content betweens yet, 
 * I am manually adding the gap here 
 */
.button-container {
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: 2rem;
}

/* Stepper.css */
.stepper-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content.stepper-content {
  margin-bottom: 2rem;
}

.main-content.stepper-content h1 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stepper-content.button-container {
    margin: 0 10rem;
    margin-bottom: 3rem;
  }
  .main-content.stepper-content h1 {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .main-content.stepper-content {
    margin-left: 3rem;
    margin-top: 2rem;
  }

  .stepper-content.button-container {
    align-self: flex-start;
    margin-left: 3rem;
  }
}
