/** 
 * Because at the time of writing this, the NYSDS does not support flex-gaps & other content betweens yet, 
 * I am manually adding the gap here 
 */
.button-container {
    gap: 10px; 
    justify-content: space-between;
    margin-bottom: 25px;
}

/* Stepper.css */
.stepper-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.button-container {
  margin-left: 2rem;
}

.main-content.stepper-content {
  margin-bottom: 1rem;
}

.main-content.stepper-content h1 {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .stepper-content.button-container {
    margin: 0 10rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-content.stepper-content {
    margin-left: 3rem;
  }

  .stepper-content.button-container {
    align-self: flex-start;
    margin-left: 3rem;
  }
}
